@page
@model Final_Project2.Pages.Tickets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.Date" class="control-label"></label>
                <input asp-for="Ticket.Date" class="form-control" />
                <span asp-validation-for="Ticket.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Name" class="control-label"></label>
                <input asp-for="Ticket.Name" class="form-control" />
                <span asp-validation-for="Ticket.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.RoomNumber" class="control-label"></label>
                <input asp-for="Ticket.RoomNumber" class="form-control" />
                <span asp-validation-for="Ticket.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CampusName" class="control-label"></label>
                <input asp-for="Ticket.CampusName" class="form-control" />
                <span asp-validation-for="Ticket.CampusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.RequestType" class="control-label"></label>
                <input asp-for="Ticket.RequestType" class="form-control" />
                <span asp-validation-for="Ticket.RequestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
